{% assign footer_menus = site.settings.footer_menu | newline_to_br | split: '<br />' %}
<!-- =========={ FOOTER }==========  -->
<footer class="bg-gray-900 text-gray-300">
    <div class="container xl:max-w-6xl mx-auto px-4 pt-16 pb-5 lg:pb-16">
        <div class="grid grid-cols-2 md:grid-cols-5 gag-4 xl:gap-8">
            <!-- left widget -->
            <div class="col-span-5 sm:col-span-2">
                <!-- Footer Content -->
                <div class="leading-relaxed">
                    <h4 class="font-semibold text-xl mb-4 text-gray-200">关于我们</h4>
                    {% if site.settings.footer_logo_url %}
                        <img src="{{ site.settings.footer_logo_url }}" alt="{{ site.name }}" class="h-12 md:h-24 mb-2">
                    {% endif %}
                    <p class="mb-3">{{ site.settings.company_info }}</p>
                </div>
            </div>
            <!-- custom 3 widget -->
            {% for menu_line in footer_menus %}
            {%  assign p_menu_arr = menu_line | split: '{' %}
            {%  assign parent_menu = p_menu_arr[0] | split: '[' %}
            {%  assign sub_menus = p_menu_arr[1] | split: '|' %}
            {%  assign sub_menus_count =  sub_menus | size %}

            {% if sub_menus_count > 0 %}
                <div class="hidden sm:flex flex-col" x-data="{ open: false }" @mouseenter="open = true" @mouseleave="open = false">
                    <a class="font-semibold text-xl mb-4 text-gray-200" href="{{ parent_menu[1] | default: 'javascript:void(0);' }}" :aria-expanded="open">{{ parent_menu[0] }}</a>
                    <!-- 2nd level menu -->
                    <ul class="">
                    {% for second_menu in sub_menus %}
                        {%  assign second_menu_arr = second_menu | split: '[' %}
                        <li>
                            <a class="text-sm" href="{{ second_menu_arr[1] | default: '#'}}">
                                <span class="whitespace-nowrap">{{ second_menu_arr[0] }}</span>
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="">
                    <a class="" href="{{ parent_menu[1] | default: '#'}}">{{ parent_menu[0] }}</a>
                </div>
            {% endif %}
            {% endfor %}
        </div>

        <!-- copyright  -->
        <div class="container xl:max-w-6xl mx-auto px-4">
            <div class="flex flex-wrap lg:flex-row -mx-4 border-t border-primary-200 border-opacity-10 py-9">
            <div class="w-full text-center">
                {{ site.settings.copyright_info }}
            </div>
            </div>
        </div>
    </div>
</footer>

<!-- =========={ SCROLL TO TOP }==========  -->
<a href="#" class="back-top fixed p-4 rounded bg-gray-100 border border-gray-200 text-gray-500 dark:bg-gray-900 dark:border-gray-800 end-4 bottom-4 hidden" aria-label="Scroll To Top">
    <svg width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"></path>
    </svg>
</a>