{% if tag %}
  <a href="{{ tag.path }}"
    class="inner-block px-2 py-1 mr-2 rounded-full border-1 border-primary hover:bg-primary"
    style="
      background-color: hsl({{ tag.color_hls[0] }}, {{ tag.color_hls[1] }}%, 95%);
      color: {{ tag.color }};
    "
  >
    # {{ tag.name }}
  </a>
{% endif %}
