{% assign pages = site.pages['/'].children_in_list %}

<main id="content">
  <!-- =========={ hero }==========  -->
  <div id="hero" class="relative pt-3 sm:pt-6 lg:pt-12 pb-0 bg-gradient-to-b from-primary-800 via-primary-700 to-green-400 bg-primary-700">
    <!-- particle moving animation -->
    <div class="my-0">
      <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="right: 9%; bottom: 72%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate absolute opacity-50 text-gray-100" style="right: 12%; bottom: 30%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="right: 22%; bottom: 55%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate absolute opacity-50 text-gray-100" style="right: 30%; top: 15%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1.2rem" height="1.2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="left: 60%; bottom: 20%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="left: 20%; bottom: 60%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate none lg:block absolute opacity-50 text-gray-100" style="left: 38%; bottom: 40%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1.2rem" height="1.2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate absolute opacity-50 text-gray-100" style="left: 12%; bottom: 30%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1.2rem" height="1.2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <div class="scroll-rotate absolute opacity-50 text-gray-100" style="left: 6%; bottom: 75%; transform: rotate(0deg);">
        <svg class="bi bi-bounding-box-circles" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.5 2h-9V1h9v1zm-10 1.5v9h-1v-9h1zm11 9v-9h1v9h-1zM3.5 14h9v1h-9v-1z" clip-rule="evenodd"></path>
          <path fill-rule="evenodd" d="M14 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zM2 3a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4zm0 11a1 1 0 100-2 1 1 0 000 2zm0 1a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </div>

    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
        <!-- content -->
        <div class="max-w-full w-full lg:w-4/5 px-4">
          <div class="mt-12 lg:mt-16 py-6 text-center">
            <h1 class="text-4xl leading-tight lg:text-5xl lg:leading-snug font-bold text-white capitalize mb-4">
              一个漂亮的 <span class="hidden sm:inline-block text-yellow-300">品牌官网</span> 设计模板<br> Build with Baklib CMS</h1>
            <p class="text-gray-100 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">TailPro <span class="hidden md:inline-block">multipurpose Tailwind</span> template is <span class="text-yellow-300 font-semibold" data-toggle="typed" data-options='{"strings": ["Fast loading", "Easy development", "Seo friendly"]}'></span></p>

            <a class="py-3 px-5 inline-block text-center rounded-md leading-normal text-gray-800 bg-yellow-300 border border-yellow-300 hover:text-gray-900 hover:bg-yellow-400 hover:ring-0 hover:border-yellow-400 focus:bg-yellow-400 focus:border-yellow-400 focus:outline-none focus:ring-0" target="_blank" href="https://help.baklib.cn/themes/tailpro">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="inline me-1" viewBox="0 0 16 16">
                <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"></path>
              </svg> 查看配置教程
            </a>
          </div>
        </div><!-- end content -->

        <div class="max-w-full w-full px-4 text-center">
          <img src="{{ 'images/img-min/Tailwind-agency-templates.png' | asset_url }}" class="w-full max-w-full h-auto" alt="Tailwind agency template">
        </div>
      </div>
    </div>
  </div>
  <!-- End hero -->

  <!-- =========={ demo }==========  -->
  <div id="demos" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20">
    <div class="container xl:max-w-6xl mx-auto px-4">
      <!-- section header -->
      <header class="text-center mx-auto mb-12">
        <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">丰富的首页风格</h2>
        <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">你可以选择任意一个你喜欢的首页风格。</p>
      </header><!-- end section header -->

      <!-- row -->
      <div class="flex flex-wrap flex-row -mx-4 text-center">
        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
            <a href="/s/index-branding">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img2.jpg' | asset_url }}" alt="Tailwind Template Branding Agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-branding">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Branding Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>
        
        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <a href="/s/index-creative">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img3.jpg' | asset_url }}" alt="Tailwind Template Creative Agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-creative">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Creative Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2">
            <a href="/s/index-digital">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img4.jpg' | asset_url }}" alt="Tailwind Template Digital Agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-digital">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Digital Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
            <a href="/s/index-advertising">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img1.jpg' | asset_url }}" alt="Tailwind Template Advertising Agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-advertising">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Advertising Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <a href="/s/index-graphic">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img5.jpg' | asset_url }}" alt="Tailwind template graphic agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-graphic">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Graphic Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <a href="/s/index-marketing">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img6.jpg' | asset_url }}" alt="Tailwind template marketing agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-marketing">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Marketing Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s">
            <a href="/s/index-mobile-app">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img7.jpg' | asset_url }}" alt="Tailwind template Mobile app agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-mobile-app">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Mobile App Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <a href="/s/index-seo">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img8.jpg' | asset_url }}" alt="Tailwind SEO agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-seo">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">SEO Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <a href="/s/index-social-media">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img9.jpg' | asset_url }}" alt="Tailwind template social media marketing agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-social-media">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Social Marketing Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
            <a href="/s/index-web-design">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img10.jpg' | asset_url }}" alt="Tailwind template web design agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-web-design">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Web Design Agency</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
            <a href="/s/index-rtl">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img11.jpg' | asset_url }}" alt="Tailwind template RTL agency">
            </a>
            <div class="flex-1 p-5">
              <a href="/s/index-rtl">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">RTL Mode</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>

        <div class="flex-shrink w-full max-w-full md:w-1/2 lg:w-1/3 px-4 sm:px-6">
          <!-- demo card -->
          <div class="relative flex flex-col bg-white border border-gray-200 dark:bg-gray-800 dark:border-gray-700 mb-12 rounded-md overflow-hidden shadow-xl hover:shadow-2xl transform transition duration-300 ease-in-out hover:-translate-y-2 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
            <a href="#">
              <img class="w-full max-w-full h-auto" src="{{ 'images/img-min/img12.jpg' | asset_url }}" alt="Tailwind Web Template agency">
            </a>
            <div class="flex-1 p-5">
              <a href="#">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">Template Dev (Current Page)</h3>
              </a>
            </div>
          </div><!-- end demo card -->
        </div>
      </div><!-- end row -->
    </div>
  </div>
  <!-- End demo -->
  
  <!-- =========={ about }==========  -->
  <div id="about" class="relative pt-20 pb-8 md:pt-24 md:pb-12 bg-white dark:bg-gray-800">
    <div class="container xl:max-w-6xl mx-auto px-4">
      <!-- section header -->
      <header class="text-center mx-auto mb-6">
        <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">如何配置网站？</h2>
        <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2">通过简单配置，你可以获得一个静态/动态结合的个性化官方网站。</p>
      </header><!-- end section header -->

      <!-- showcase  -->
      <div class="flex flex-wrap flex-row -mx-4 mb-5">
        <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 self-center">
          <div class="px-12 lg:px-4 mb-12 lg:my-0">
            <img src="{{ 'images/img-min/research.svg' | asset_url }}" class="max-w-full h-auto w-full" alt="landing page">
          </div>
        </div>

        <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 py-6">
          <!-- processs vertical -->
          <ol>
            <li class="flex wow fadeInUp" data-wow-duration="1s">
              <div class="relative flex-shrink-0 w-16 text-center">
                <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                  <span class="text-primary-700 text-xl">
                    1
                  </span>
                </div>
              </div>

              <div class="ms-4 mb-4 lg:ms-6">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">选择首页</h3>
                <p class="mb-2">在后台<span class="bg-yellow-100 text-yellow-700">“应用设置”--“界面展示”--“首页布局”</span>，将首页切换为另外两个布局模板（你当前看到的首页模板只为了教程使用）。</p>
                <p>在<span class="bg-yellow-100 text-yellow-700">“页面管理”--“首页”--“内容编辑”</span>中配置首页相关信息。</p>
              </div>
            </li>

            <li class="flex wow fadeInUp" data-wow-duration="1s" data-wow-delay=".1s">
              <div class="relative flex-shrink-0 w-16 text-center">
                <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                  <span class="text-primary-700 text-xl">
                    2
                  </span>
                </div>
              </div>

              <div class="ms-4 mb-4 lg:ms-6">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">添加栏目</h3>
                <p class="mb-2">在<span class="bg-yellow-100 text-yellow-700">“页面管理”--“首页”--“添加子页面”</span></p>
                <ul class="space-y-2">
                  <li class="mb-2">1. 选择模板<span class="bg-yellow-100 text-yellow-700">栏目-Card卡片式列表</span>，添加<span class="bg-yellow-100 text-yellow-700">“新闻资讯”</span>,自定义URL: <span class="bg-yellow-100 text-yellow-700">“news”</span>(必填)</li>
                  <li class="mb-2">2. 选择模板<span class="bg-yellow-100 text-yellow-700">栏目-List上下图文列表</span>，添加<span class="bg-yellow-100 text-yellow-700">“服务项目”</span>,自定义URL: <span class="bg-yellow-100 text-yellow-700">“services”</span>(必填)</li>
                  <li class="mb-2">3. 选择模板<span class="bg-yellow-100 text-yellow-700">栏目-Side侧边栏列表</span>，添加<span class="bg-yellow-100 text-yellow-700">“关于我们”</span>,自定义URL: <span class="bg-yellow-100 text-yellow-700">“about”</span>(必填)</li>
                  <li class="mb-2">以上必须添加，其他栏目可根据情况选择性增加，比如博客、产品中心、常见问题。。。</li>
                </ul>
              </div>
            </li>
          </ol><!-- end processs vertical -->
        </div>
      </div>

      <!-- showcase  -->
      <div class="flex flex-wrap flex-row -mx-4">
        <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 self-center lg:order-2">
          <div class="px-12 lg:px-4 mb-12 lg:my-0">
            <img src="{{ 'images/img-min/development.svg' | asset_url }}" class="max-w-full h-auto w-full" alt="landing page">
          </div>
        </div>

        <div class="flex-shrink max-w-full w-full lg:w-1/2 px-4 py-6 lg:order-1">
          <!-- processs vertical -->
          <ol>
            <li class="flex wow fadeInUp" data-wow-duration="1s">
              <div class="relative flex-shrink-0 w-16 text-center">
                <span class="absolute start-1/3 top-12 -bottom-8 border-s-2 border-dashed border-gray-200 dark:border-gray-700"></span>
                <div class="w-12 h-12 me-auto rounded-full p-2 bg-gray-100 border border-gray-200 dark:bg-gray-900 dark:bg-opacity-40 dark:border-gray-800">
                  <span class="text-primary-700 text-xl">
                    4
                  </span>
                </div>
              </div>

              <div class="ms-4 mb-4 lg:ms-6">
                <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">站点配置</h3>
                <p>配置站点属性，让网站丰满起来.</p>
                <ul class="space-y-2">
                  <li class="mb-2">1. 主题颜色：主要配置<span class="bg-yellow-100 text-yellow-700">primary</span>和<span class="bg-yellow-100 text-yellow-700">secondary</span>(必填)</li>
                  <li class="mb-2">2. 默认值设置：更新Logo图标、默认作者头像、默认文章方面图、公司介绍视频、一句话描述、一句话描述、导航按钮文字、导航按钮链接(必填)</li>
                  <li class="mb-2">3. 定制页面版块设计：<span class="bg-yellow-100 text-yellow-700">LOGO 广告墙</span>，<span class="bg-yellow-100 text-yellow-700">文章侧边栏广告</span>等个性化版块，(选填)</li>
                  <li class="mb-2">4. 页头页脚设计： 更新Head HTML代码、页头导航菜单设置、页脚菜单设置、页脚公司信息。重点要填写：<span class="bg-yellow-100 text-yellow-700">页头导航菜单设置</span>和<span class="bg-yellow-100 text-yellow-700">页脚菜单设置</span></li>
                </ul>
              </div>
            </li>
          </ol><!-- end processs vertical -->
        </div>
      </div>
    </div>
  </div>
  <!-- End about -->

</main>

{% schema %}
    {
        "name": "Index.Demo",
        "description": "首页 Demo 模板",
        "thumb_url": "images/theme/index.webp",
        "preview_image_urls": [
          "images/theme/index.webp"
        ],
        "sub_page_templates": ["channel"]
    }
{% endschema %}


