{% comment %} 页面内容部分 {% endcomment %}
{% assign default_hero_bg = 'images/img-min/bg-planet.jpg' | asset_url %}
{% if page.parent.settings.thumb_image_url %}
    {% assign hero_bg = page.parent.settings.thumb_image_url %}
{% elsif page.settings.thumb_image_url %}
    {% assign hero_bg = page.settings.thumb_image_url %}
{% else %}
    {% assign hero_bg = default_hero_bg %}
{% endif %}

<main id="content">
  <!-- =========={ HERO }==========  -->
  <div id="hero" class="relative py-12 jarallax">
    <!-- background parallax -->
    <img class="jarallax-img" src="{{ hero_bg }}" alt="title">
    <!-- background overlay -->
    <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
        <!-- content -->
        <div class="max-w-full w-full lg:w-10/12 px-4">
          <div class="mt-0 py-6 text-center">
            <div class="text-center">
              <a href="{{ page.parent.path }}" class="text-sm py-1 px-3 bg-yellow-300 text-gray-700 rounded">{{ page.parent.link_text }}</a>
            </div>
            <div class="mt-0 pt-8 text-center">
              <h1 class="text-3xl md:text-4xl leading-normal mb-0 font-bold text-white">{{ page.settings.title }}</h1>
              <p class="text-gray-300 mt-4">{{ page.settings.description }}</p>              
            </div>
            
          </div>
        </div><!-- end content -->
      </div>
    </div>
  </div><!-- End hero -->
  

  <!-- =========={ POST }==========  -->
  <div id="post-content" class="relative bg-white dark:bg-gray-800 pb-12">
    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 justify-center">
        <div class="max-w-full w-full lg:w-10/12 px-4">
          <div class="md:px-4">
            <!-- author -->
            {% if site.settings.is_show_author %}
              <div class="flex flex-wrap flex-row space-x-3 -mx-4 py-4">
                <div class="">
                  <a href="javascript:void(0);"><img class="rounded-full border h-12 md:h-20 dark:border-gray-700" src="{{ page.author.avatar_url | default: site.default_avatar_url }}" alt="author"></a>
                </div>
                <div class="">
                  <!--name-->
                  <p class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">
                    <span class="font-semibold">{{ page.author.name }}</span>
                  </p>
                  <!--description-->
                  <p class="text-gray-500 text-sm dark:text-gray-400">
                    <time pubdate datetime="{{ page.published_at }}" title="{{ page.published_at }}">发布于：{{ page.published_at | date: "%Y-%m-%d" }}</time> 
                    <br/> 浏览：{{ page.visits_count }}</p>
                </div>
              </div>
            {% endif %}

            <!-- Post content -->
            <article class="leading-relaxed pb-4">
              <div class="ProseMirror prose xl:prose-lg max-w-full overflow-x-auto">
                {{ page.settings.content }}
              </div>
            </article>

            <!-- Comments -->
            <!-- Feedback -->
            <div class="max-w-4xl mx-auto mt-2">
              {% for tag in page.settings.tags %}
                {% render 'tag', tag: tag %}
              {% endfor %}
              {% render "feedback_form", page: page %}
              {%# render "feedback_btn", page: page %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Contact Form -->
</main>

<div class="container xl:max-w-6xl mx-auto">
  <div class="max-w-full w-full lg:w-10/12 px-4 py-4">
    {% render 'breadcrumb', breadcrumb: page.breadcrumb  %}
  </div>
</div>

{% schema %}
  {
    "name": "Page",
    "thumb_url": "images/theme/page.webp",
    "preview_image_urls": [
      "images/theme/page.webp"
    ],
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "t:settings_schema.page.settings.title.label",
        "info": "t:settings_schema.page.settings.title.info"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:settings_schema.page.settings.description.label"
      },
      {
        "id": "thumb_image_url",
        "type": "image_picker",
        "ratio": "4:3",
        "width": 200,
        "label": "t:settings_schema.page.settings.thumb_image_url.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      }
    ]
  }
{% endschema %}
