{% comment %} 页面内容部分 {% endcomment %}
{% assign default_hero_bg = 'images/img-min/bg-planet.jpg' | asset_url %}
{% if item.settings.thumb_image_url %}
    {% assign hero_bg = item.settings.thumb_image_url %}
{% elsif item.parent.settings.thumb_image_url %}
    {% assign hero_bg = item.parent.settings.thumb_image_url %}
{% else %}
    {% assign hero_bg = default_hero_bg %}
{% endif %}

<main id="content">
  <!-- =========={ HERO }==========  -->
  <div id="hero" class="relative py-12 jarallax">
    <!-- background parallax -->
    <img class="jarallax-img" src="{{ hero_bg }}" alt="title">
    <!-- background overlay -->
    <div class="absolute top-0 start-0 w-full h-full opacity-90 bg-primary-700" style="z-index:-1;"></div>

    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
        <!-- content -->
        <div class="max-w-full w-full lg:w-10/12 px-4">
          <div class="mt-0 py-6 text-center">
            <div class="text-center">
              <a href="{{ page.parent.path }}" class="text-sm py-1 px-3 bg-yellow-300 text-gray-700 rounded">{{ page.parent.link_text }}</a>
            </div>
            <div class="mt-0 pt-8 text-center">
              <h1 class="text-3xl md:text-4xl leading-normal mb-0 font-bold text-white">{{ page.settings.title }}</h1>           
            </div>
          </div>
        </div><!-- end content -->
      </div>
    </div>
  </div><!-- End hero -->
  
  <!-- =========={ POST }==========  -->
  <div id="post-content" class="relative bg-white dark:bg-gray-800 pb-12">
    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 justify-center">
        <div class="max-w-full w-full lg:w-10/12 px-4">
          <div class="md:px-4">
            <!-- Post content -->
            <article class="leading-relaxed pt-12 pb-4">
              <div class="ProseMirror max-w-full overflow-x-auto">
                {{ page.settings.content }}
              </div>
            </article>

            <!-- author -->
            {% if site.settings.is_show_author %}
              <div class="flex flex-wrap flex-row -mx-4 justify-center py-4 border-t border-gray-300 dark:border-gray-700">
                <div class="flex-shrink max-w-full px-4 w-1/3 sm:w-1/4 md:w-1/6">
                  <a href="javascript:void(0);"><img class="rounded-full border max-w-full h-auto dark:border-gray-700" src="{{ page.author.avatar_url | default: site.default_avatar_url }}" alt="author"></a>
                </div>
                <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-3/4 md:w-10/12">
                  <!--name-->
                  <p class="text-lg leading-normal mb-2 font-semibold text-gray-800 dark:text-gray-100">
                    <span class="font-semibold">{{ page.author.name }}</span>
                  </p>
                  <!-- website -->
                  <p class="mb-1"><a target="_blank" class="text-primary-700" href="{{ site.settings.domain |  default: 'https://www.baklib.com' }}" target="_blank">{{ site.settings.domain |  default: 'https://www.baklib.com' }}</a></p>
                  <!--description-->
                  <p>{{ site.settings.slogan }}</p>
                </div>
              </div>
            {% endif %}

            <!-- Comments -->
            <!-- Feedback -->
            <div class="max-w-4xl mx-auto mt-2">
              {%# render "feedback_form", page: page %}
              {%# render "feedback_btn", page: page %}
              {% for tag in page.settings.tags %}
                {% render 'tag', tag: tag %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Contact Form -->
</main>


{% schema %}
  {
    "name": "Page",
    "thumb_url": "images/theme/page.webp",
    "preview_image_urls": [
      "images/theme/page.webp"
    ],
    "sub_page_templates": ["page"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "t:settings_schema.page.settings.title.label",
        "info": "t:settings_schema.page.settings.title.info"
      },
      {
        "id": "description",
        "type": "textarea",
        "label": "t:settings_schema.page.settings.description.label"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "t:settings_schema.page.settings.tags.label"
      },
      {
        "id": "thumb_image_url",
        "type": "image_picker",
        "ratio": "4:1",
        "width": 640,
        "label": "t:settings_schema.page.settings.thumb_image_url.label"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "t:settings_schema.page.settings.content.label"
      }
    ]
  }
{% endschema %}
