
<main id="content" class="bg-light">
  <!-- =========={ HERO }==========  -->
  <div id="hero" class="relative pt-12 pb-32 jarallax">
    <!-- background parallax -->
    <img class="jarallax-img" src="{{ 'images/img-min/bg-planet.jpg' | asset_url }}" alt="title">
    <!-- background overlay -->
    <div class="absolute top-0 start-0 w-full h-full opacity-80 bg-primary" style="z-index:-1;"></div>

    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
        <!-- content -->
        <div class="max-w-full w-full lg:w-7/12 px-4">
          <div class="mt-0 pt-6 text-center">
            <h1 class="text-2xl md:text-3xl leading-normal font-semibold text-white"># {{ tag.name }}</h1>    
            <hr class="block w-12 h-0.5 mx-auto my-3 bg-secondary border-secondary">
          </div>          
        </div><!-- end content -->
      </div>
    </div>
  </div><!-- End hero -->
  
  <!-- article start -->
  <div class="relative pb-16">
    <div class="container xl:max-w-6xl mx-auto px-4">
      <div class="bg-white dark:bg-gray-800 rounded-lg shadow-lg py-10 md:py-6 lg:py-12 px-12 -mt-24">
        <div class="flex flex-wrap flex-row -mx-4 md:mt-2">
          <div class="flex-shrink w-full max-w-full lg:w-8/12">
            {% paginate_tag tag.pages, as: 'pages' %}
              <!-- row -->
              <div class="flex flex-wrap flex-row justify-center -mx-4">
                {% for item in pages %}
                  <div class="flex-shrink w-full max-w-full px-4 lg:px-6">
                    <!-- Card -->
                    <div class="flex flex-col md:flex-row bg-white dark:bg-gray-800 mb-12 rounded overflow-hidden">
                      <div class="relative overflow-hidden md:flex-shrink md:w-1/3 rounded">
                        <a href="{{ item.path }}" class="block group">
                          <div class="absolute inset-0 hover:bg-black opacity-0 transition duration-700 hover:opacity-20"></div>
                          <img class="max-w-full h-auto" src="{{ item.settings.thumb_image_url | default: site.settings.default_thumb_url }}" alt="{{ item.link_text }}"/>
                        </a>
                      </div>
                      <div class="pt-6 flex-1 md:flex-shrink md:w-2/3 md:ps-8 md:pt-0">
                        <div class="mb-2">
                          <h3 class="text-xl leading-normal mb-4 font-semibold text-gray-800 dark:text-gray-200"><a href="{{ item.path }}" class="hover:text-primary-700 dark:hover:text-gray-100">{{ item.link_text }}</a></h3>
                          <div class="text-gray-500">
                            <svg class="bi bi-calendar me-2 inline-block" width=".8rem" height=".8rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" clip-rule="evenodd"></path>
                                <path fill-rule="evenodd" d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
                              </svg><span>{{ item.published_at | date: "%Y-%m-%d" }}</span>
                          </div>
                        </div>
                        <p class="text-gray-500">{{ item.settings.description | default: item.settings.content | strip_html | truncate: 100 }}</p>
                      </div>
                    </div><!-- End card -->
                  </div>
                {% endfor %}

              </div><!-- end row -->

              <div class="text-center mt-4">
                <!-- center pagination -->
                {% render 'paginate', paginate: paginate %}
              </div>
            {% endpaginate_tag %}
          </div>

          <!-- sidebar -->
          {% render 'sidebar' %}
          <!-- end sidebar -->
        </div>
      </div>
    </div>
  </div><!-- End Blog -->
</main>